# compiled output
/dist/*
/node_modules/*

# Logs
/logs/*

# OS
.DS_Store

# IDEs and editors
/.idea

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# sequelize
.sequelizerc
/database/*

# generate files
/src/controller/*
/src/dto/*
/src/entity/*
/src/service/*
